.section-about{
	display: flex;
	padding: 1 rem 0;
	margin-top: 3rem;
	margin-left: 10rem;
	width: 70%;
	
}
.aboutme-title{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #34495e;
	
}
.aboutme-body{
	text-align : justify;
	margin-top: 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;


}
.custom-hr{
	border: none;
    height: 2px;
    max-width: 60px;
    margin: 10px 0;
    background: #bdc3c7;
}

/* Responsive para celular */
@media (max-width:700px) {
	.section-about{
		display: flex;
		margin: 0px;
	}
	.aboutme-title{
		margin: 0;
		display: flex;
		margin-left: 1rem;
	}
	.custom-hr{
		margin-left: 1rem;
		
	}
	.aboutme-body{
			margin-top: 1rem;
			width: 121%;
			margin-left: 1rem;
			margin-bottom: 2rem;
			font-size: 20px;
	}


}
