* {
	box-sizing: border-box;
  }

.section-about{
	display: flex;
    justify-content: center;
    margin: auto;
	width: 80%;
	padding-top: 4em;
}
.aboutme-title{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #34495e;
	font-weight: bolder;
}
.aboutme-body{
	text-align : justify;
	margin-top: 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #34495e;
}
.custom-hr{
	border: none;
    height: 2px;
    max-width: 60px;
    margin: 25px 0;
    background: #bdc3c7;
}

/* Responsive para celular */
@media (max-width:700px) {
	.section-about{
		display: flex;
		width: 84%;
	}
	.aboutme-title{
		margin: 0;
		display: flex;
	}

	.aboutme-body{
		margin-top: 1rem;
		margin-bottom: 2rem;
		font-size: 20px;
	}

}
@media (min-width:1800px){
	.aboutme-body{
		margin-top: 1rem;
		margin-bottom: 2rem;
		font-size: 20px;
}

}
