* {
	box-sizing: border-box;
  }


  
.section-about{
	display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
	
}
.aboutme-title{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #34495e;
	font-weight: bolder;
}
.aboutme-body{
	text-align : justify;
	margin-top: 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;


}
.custom-hr{
	border: none;
    height: 2px;
    max-width: 60px;
    margin: 10px 0;
    background: #bdc3c7;
}

/* Responsive para celular */
@media (max-width:700px) {
	.section-about{
		display: flex;
		width: 84%;
	}
	.aboutme-title{
		margin: 0;
		display: flex;
		margin-left: 1rem;
	}
	.custom-hr{
		margin-left: 1rem;
		
	}
	.aboutme-body{
			margin-top: 1rem;
			width: 87%;
			margin-left: 1rem;
			margin-bottom: 2rem;
			font-size: 20px;
	}

}
@media (min-width:1800px){
	.aboutme-body{
		margin-top: 1rem;
		width: 78%;
		margin-left: 1rem;
		margin-bottom: 2rem;
		font-size: 20px;
}

}
