
.section-name{
	display: flex;
	align-items: center;
	padding: 1 rem 0;
	margin-top: 3rem;
    margin-left: 10rem;
	
}
._avatar{
	border-radius: 50%;
	margin-right: 3rem;
	width: 180px;
    height: 180px;
}
/* GLOBAL STYLES */
/* body {
	background-image: url(../img/19366.jpg);
	background-size: 100%;
} */
p{
	font-family: 'Roboto', sans-serif;
	vertical-align: inherit;
	color: #34495e;
	font-size: 26px;
    line-height: 1.4;
    font-weight: 300;
}

.title{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #34495e;
}
.titulo1{
	width: 60%;
}
.social-networks{
    display: flex;
	margin-top: 10px;
}

.social-icon{
	text-decoration: none;
}

.social-networks .social-icon span {
    font-size: 34px;
    color: #34495e;
}
span:hover {
	transform: scale(1.2);
}

/* Responsive para celular */
@media (max-width:700px) {
	.section-name{
		display: flex;
		flex-direction: column;
		margin: 0px;
	}
	._avatar{
		margin:0px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}
	
	.title{
		margin:0px
		
	}
	.titulo1{
		margin:0px;
		margin-top: 1rem;
		width: 90%;
		text-align: justify;
		
	}
	p{
	
		font-size: 20px;
		margin-left: 1em;
		
	}
	.social-networks{
		margin-left: 1em;
		margin-bottom: 2em;
	}
	
	

}





