* {
	box-sizing: border-box;
  }

.section-name{
	display: flex;
	align-items: center;
	flex-direction: row;
    margin: auto;
	width: 80%;
	margin: 0 auto;
	padding-top: 15px;
  	padding-bottom: 20px;
}
._avatar{
	border-radius: 50%;
	margin-right: 3rem;
}

p{
	font-family: 'Roboto', sans-serif;
	vertical-align: inherit;
	color: #34495e;
	font-size: 20px;
    line-height: 1.4;
    font-weight: 300;
}

.title{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #34495e;
	font-weight: bolder;
}
.titulo1{
	width: 75%;
}
.social-networks{
    display: flex;
	margin-top: 10px;
}

.social-icon{
	text-decoration: none;
}

.social-networks .social-icon span {
    font-size: 34px;
    color: #34495e;
}
span:hover {
	transform: scale(1.2);
}

/* Responsive para celular */
@media (max-width:700px) {
	.section-name{
		display: flex;
		flex-direction: column;
		margin: 0px;
		width: 90%;
		
	}
	._avatar{
		margin-left: 5rem;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}
	.title_{
		display: flex;
		margin-left: 2em;
	}
	
	.title{
		margin:0px
		
	}
	.titulo1{
		margin:0px;
		margin-top: 1rem;
		width: 90%;
		text-align: justify;
		
	}
	p{
	
		font-size: 20px;
		margin-left: 1em;
		
	}
	.social-networks{
		margin-left: 1em;
		margin-bottom: 2em;
	}
	
	

}

@media (max-width:1100px){
	.titulo1{
	  width: 90%;
  }
  }





