.container-all {
  display: flex;
  justify-content: center;
}
.container-all i {
  margin-left: 1em;
  color: white;
}

.container-nav {
  display: flex;
  background-color: white;
  height: 6em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  width: 80%;
  z-index: 2;
}

.container-img {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container-items {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.item-nav {
  font-size: 20px;
  color: #3d405b;
  margin-left: 2em;
  display: flex;
  align-self: center;
  align-items: center;
}

label {
  display: none;
}

#toggle {
  display: none;
}

@media (max-width: 700px) {
  label {
    margin: 0px;
    height: 4rem;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #e07a5f;
  }

  .container-img {
    display: none;
  }
  .container-items {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .item-nav {
    display: flex;
    padding: 5px;
    font-size: 18px;
    align-self: flex-start;
    margin-left: 1em;
    color: white;
  }

  #toggle:checked ~ .container-nav {
    display: flex;
    margin: 0;
    position: absolute;
    margin-top: 4em;
    background-color: #e07a5f;
    height: max-content;
  }

  .container-nav {
    display: none;
    width: 100%;
  }
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  cursor: pointer;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #e07a5f;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:active:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:hover:before {
  left: 0;
  right: 0;
}
