
.section-proyects {
  padding: 1 rem 0;
  margin-left: 10rem;
  width: 70%;
}
.proyects-title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #34495e;
  margin-top: 1rem;
}
.proyects-hr {
  border: none;
  height: 2px;
  max-width: 60px;
  margin: 10px 0;
  background: #bdc3c7;
}

.card-custom2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.card-custom{
    /* display: inline-block; */
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* .card-custom:hover{
  transform: scale(1.1);
}  */

.imgCard_{
    width: 140px !important;
    height: 140px !important;
} 
.imgCard_:hover{
  transform: scale(1.1);
}
.imgCard_2{
  width: 100px !important;
  height: 125px !important;
  margin-top: 10px;
  margin-bottom: 3px;
}
.imgCard_2:hover{
  transform: scale(1.1);
}
.imgCard_md{
  margin-top: 10px;
  width: 130px !important;
  height: 120px !important;
}
.imgCard_md:hover{
  transform: scale(1.1);
}
.imgCard_Lol{
  height: 120px;
  margin-top: 10px;
}
.imgCard_Lol:hover{
  transform: scale(1.1);
}
.imgCard_candado{
  width: 120px !important;
    height: 120px !important;
  margin-top: 10px;
}
.imgCard_candado:hover{
  transform: scale(1.1);
}

 

/* Responsive para celular */
@media (max-width:700px) {
	.section-proyects{
    display: flex;
    flex-direction: column;
		margin: 0px;
  }
  .proyects-title{
		margin: 0;
		display: flex;
    margin-left: 1rem;
    margin-top: 2rem;
	}
	.proyects-hr{
		margin-left: 1rem;
		
  }
  .card-custom{
    margin-left: 1rem;
}


}
