.section-proyects {
  padding: 1 rem 0;
  margin-left: 10rem;
  width: 70%;
}
.proyects-title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #34495e;
  margin-top: 1rem;
}
.proyects-hr {
  border: none;
  height: 2px;
  max-width: 60px;
  margin: 10px 0;
  background: #bdc3c7;
}

.card-custom2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.card-custom{
    /* display: inline-block; */
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card-custom:hover{
  transform: scale(1.1);
} 

/* .imgCard_{
    width: 130px !important;
    height: 130px !important;
  
}
.imgCard_:hover{
  transform: scale(1.1);
} */
