* {
  box-sizing: border-box;
}

.section-skills {
  display: flex;
  margin: auto;
  width: 80%;
}

.skills-title {
  font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #34495e;
	font-weight: bolder;
}
.skills-hr {
  border: none;
  height: 2px;
  max-width: 60px;
  margin: 10px 0;
  background: #bdc3c7;
}

.icon-skill {
  width: 60px;
  margin: 20px;
  display: inline-block;
}
.react_{
  fill: skyblue !important; 
}

.tooltip .tooltiptext {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	visibility: hidden;
	width: 120px;
	background-color: #fff;
	color: #2E3138;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	margin-top: 0.5em;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }





/* Responsive para celular */
@media (max-width:700px) {
	.section-skills{
		display: flex;
    width: 86%;
  }
  .skills-title{
		margin: 0;
		display: flex;
    margin-left: 1rem;
	}
	.skills-hr{
		margin-left: 1rem;
		
  }
  .icon-skill {
    width: 46px;
    margin: 3px;
    margin-left: 1rem;
  }

}


/* CSS hvr-buzz */

@-webkit-keyframes hvr-buzz-out {
  10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg)
  }
  20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg)
  }
  30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg)
  }
  40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg)
  }
  50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
  }
  60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
  }
  70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
  }
  80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
  }
  90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0)
  }
  100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0)
  }
}
@keyframes hvr-buzz-out {
  10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg)
  }
  20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg)
  }
  30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg)
  }
  40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg)
  }
  50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
  }
  60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
  }
  70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
  }
  80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
  }
  90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0)
  }
  100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0)
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
}
.hvr-buzz-out:active,
.hvr-buzz-out:focus,
.hvr-buzz-out:hover {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1
}
